<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<% if @skill.user == current_user %>
<%= link_to 'Edit', edit_skill_path(@skill) %> |
<% end %>
<%= link_to 'Back', skills_path %>
