<div class="jumbotron center">
  <h1>Hello, job seeker</h1>
  <p>esumeray is an app designed to help you organize your skills and make a kickass resume.</p>
  <p>
    <a class="btn btn-primary" <%= link_to "Learn More", about_path %>
    </a>

     <a class="btn btn-primary" <%= link_to "Sign Up", login_path %>
    </a>
  </p>
</div>
